<title>Valet System</title>
<h2>Valet System</h2>

<div
  style="
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
  "
>
  <a href="../execute/{{cancelCommand}}">
    <button style="height: auto; margin: 4%">{{cancelCommand}}</button>
  </a>
  <a href="../execute/{{bookCommand}}">
    <button style="height: auto; margin: 4%">{{bookCommand}}</button>
  </a>
  <a href="../execute/{{pendingCommand}}">
    <button style="height: auto; margin: 4%">{{pendingCommand}}</button>
  </a>
</div>
