name: Django CI

on:
  push:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.9 environment
      uses: actions/setup-python@v2
      with:
        python-version: 3.9
    - name: Install the dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Lint the code with flake8
      run: |
        pip install flake8
        flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
#       we use exit-zero flag so that it only warns us about linting issues and doesn't exit
    - name: Run our tests
      run: |
        python valetproject/manage.py test
